.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
src/RcppExports.o
src/libstable4u.so
src/mcculloch.o
src/methods.o
src/stable_R.o
src/stable_cdf.o
src/stable_common.o
src/stable_dist.o
src/stable_fit.o
src/stable_integration.o
src/stable_koutrouvelis.o
src/stable_pdf.o
src/stable_q.o
src/stable_rnd.o
